@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
  min-height: 100vh;
}

body {
  display: flex;

  height: 100vh;

  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  background: #000;
  color: #fff;
}

button {
  appearance: none;
  
  &:not(.reset) {
    background: #1a1a1a;
    border: #333 solid 1px;
    color: #fff;
    border-radius: 3px;

    transition: background 0.15s ease, border 0.2s ease;
    &:hover {
      background: #2f2f2f;
    }
    &:active, &.active {
      border-color: #8c5fff;
      background: #111111;
    }
  }
}

input[type="text"], textarea {
  appearance: none;
  
  &:not(.reset) {
    background: #0c0c0c;
    border: #333 solid 1px;
    color: #fff;
    border-radius: 3px;

    transition: background 0.15s ease, border 0.2s ease;
    &:focus, &.active {
      border-color: #8c5fff;
    }
  }
}

:focus {
  outline: none;
}